Source: ros-melodic-pcl-catkin-c11
Section: misc
Priority: optional
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), git, libflann-dev, libqhull-dev, libusb-1.0-0-dev, libvtk6-dev, ros-melodic-catkin, ros-melodic-catkin-simple, ros-melodic-roscpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-pcl-catkin-c11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: A catkin wrapper of the Point Cloud Library (PCL).
